<template name="groups_view">

    <div class="alert alert-danger" role="alert" style="display: none;"></div>
    <div class="alert alert-success" role="alert" style="display: none;"></div>

    <p>
        This group was created on {{formatDateTime(group.timestamp)}} and currently has {{group.members.length}} member(s).
    </p>

    <form id="group_information">

        <div class="form-group">
            <label for="name">Group Name</label>
            <input type="text" class="form-control" id="name" value="{{group.name}}" disabled>
        </div>

        <div class="form-group">
            <label for="course">Course</label>
            <input type="text" class="form-control" id="course" value="{{group.course}}" disabled>
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" value="{{group.location}}" disabled>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="3" id="description" disabled>{{group.description}}</textarea>
        </div>

        <div class="btn-group" id="prospective_member" style="display: none;">
            <button type="button" id="join_group" class="btn btn-primary" disabled>Join Group</button>
        </div>

        <div class="btn-group" id="current_member" style="display: none;">
            <button type="button" id="leave_group" class="btn btn-default" disabled>Leave Group</button>
            <button type="button" id="edit_group" class="btn btn-default" disabled>Edit Group</button>
            <button type="button" id="delete_group" class="btn btn-danger" disabled>Delete Group</button>
        </div>

    </form>

</template>
