input[disabled]{
    pointer-events: none;
    cursor: default;
}

textarea[disabled]{
    pointer-events: none;
    cursor: default;
}

button[disabled]{
    pointer-events: none;
    cursor: default;
}
