<template name="sidebar">

        <ul class="nav nav-pills nav-stacked">
            <li id="home" class='loggedIn'><a href="{{pathFor route='home'}}">Home</a></li>
            <li id="groups" class='loggedIn'><a href="{{pathFor route='groups'}}">Groups</a></li>
            <li id="forums" class='loggedIn'><a href="{{pathFor route='forums'}}">Forums</a></li>
            <li id="account" class='loggedIn'><a href="{{pathFor route='account'}}">Account</a></li>
            <li id="login" class='loggedOut'><a href="{{pathFor route='login'}}">Login</a></li>
            <li id="register" class='loggedOut'><a href="{{pathFor route='register'}}">Register</a></li>
            <li id="about"><a href="{{pathFor route='about'}}">About</a></li>
            <li ><a class="space">we &lt;3 djm</a></li>
            <li id="logout" class='loggedIn'><a href="" class="logout">Logout</a></li>
        </ul>

</template>
