<template name="sidebar">

    <div id="sidebar">

        {{#if currentUser}}

        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{pathFor route='home'}}">Home</a></li>
            <li><a href="{{pathFor route='groups'}}">Groups</a></li>
            <li><a href="{{pathFor rouet='forum'}}">Forum</a></li>
            <li><a href="{{pathFor route='account'}}">Account</a></li>
            <li><a href="{{pathFor route='about'}}">About</a></li>
        </ul>

        <div><a class="logout">Logout</a></div>


        {{else}}

        <ul class="nav nav-pills nav-stacked">
            <li id="login"><a href="{{pathFor route='login'}}">Login</a></li>
            <li id="register"><a href="{{pathFor route='register'}}">Register</a></li>
            <li><a href="{{pathFor route='about'}}">About</a></li>
        </ul>

        {{/if}}

    </div>


</template>
