h2{
    text-align: center;
    font-size: 60 pt;
    font-weight: bold;
    /*padding-top: 3px;*/
}

#info{
    padding-top: 10 px;
    text-align: center;
    font-size: 40 pt;
}

h3{
    text-align: center;
}
