h2.welcome {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#info div {
    padding-top: 2px;
    text-align: center;
    font-size: 12pt;
}

h3.subheader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
